/*
Button
------

:active - Active state

.is-active - Simulates an active state on mobile devices

:disabled - Disabled state

.is-disabled - Simulates a disabled state on mobile devices

<a class="topcoat-button">Button</a>
<a class="topcoat-button class="is-active">Button</a>
<a class="topcoat-button class="is-disabled">Button</a>
 */

:host,
:host(.quiet:host),
:host(.large:host),
:host(.large.quiet:host),
:host(.cta:host),
:host(.large.cta:host) {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 1.25rem;
  font-size: 16px;
  line-height: 3rem;
  letter-spacing: 1px;
  color: #c6c8c8;
  text-shadow: 0 -1px rgba(0,0,0,0.69);
  vertical-align: top;
  background-color: #595b5b;
  -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.12);
  box-shadow: inset 0 1px rgba(255,255,255,0.12);
  border: 1px solid rgba(0,0,0,0.36);
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
:host(:active:host),
:host(.is-active:host),
:host(.large:active:host),
:host(.large.is-active:host) {
  background-color: #404141;
  -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.18);
  box-shadow: inset 0 1px rgba(0,0,0,0.18);
}
:host(:disabled:host),
:host(.is-disabled:host) {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
/*
Quiet Button
------------

:active - Quiet button active state

.is-active - Simulates active state for a quiet button on touch interfaces

:disabled - Disabled state

.is-disabled - Simulates disabled state

<a is="topcoat-button" class="quiet">Button</a>
<a is="topcoat-button" class="quiet is-active">Button</a>
<a is="topcoat-button" class="quiet is-disabled">Button</a>
 */
:host(.quiet:host) {
  background: transparent;
  border: 1px solid transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
:host(.quiet:active:host),
:host(.quiet.is-active:host),
:host(.large.quiet:active:host),
:host(.large.quiet.is-active:host) {
  color: #c6c8c8;
  text-shadow: 0 -1px rgba(0,0,0,0.69);
  background-color: #404141;
  border: 1px solid rgba(0,0,0,0.36);
  -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.18);
  box-shadow: inset 0 1px rgba(0,0,0,0.18);
}
:host(.quiet:disabled:host),
:host(.quiet.is-disabled:host) {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
/*
Large Button
------------

:active - Active state

.is-active - Simulates active state touch interfaces

:disabled - Disabled state

.is-disabled - Simulates disabled state

<a is="topcoat-button" class="large" >Button</a>
<a is="topcoat-button" class="large is-active" >Button</a>
<a is="topcoat-button" class="large is-disabled" >Button</a>
 */
:host(.large:host),
:host(.large.quiet:host) {
  font-size: 1.3rem;
  line-height: 4rem;
}
:host(.large:disabled:host),
:host(.large.is-disabled:host) {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
/*
Large Quiet Button
------------------

:active - Active state

.is-pressed - Simulates active state on touch interfaces

:disabled - Disabled state

.is-disabled - Simulates disabled state


<a is="topcoat-button" class="large.quiet" >Button</a>
<a is="topcoat-button" class="large.quiet is-active" >Button</a>
<a is="topcoat-button" class="large.quiet is-disabled" >Button</a>
 */
:host(.large.quiet:host) {
  background: transparent;
  border: 1px solid transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
:host(.large.quiet:disabled:host),
:host(.large.quiet.is-disabled:host) {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
/*
Call To Action Button
---------------------

:active - Active state

.is-pressed - Simulates active state on touch interfaces

:disabled - Disabled state

.is-disabled - Simulates disabled state


<a is="topcoat-button" class="cta" >Button</a>
<a is="topcoat-button" class="cta is-active" >Button</a>
<a is="topcoat-button" class="cta is-disabled" >Button</a>

 */
:host(.cta:host),
:host(.large.cta:host) {
  border: 1px solid #143250;
  background-color: #288edf;
  -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.36);
  box-shadow: inset 0 1px rgba(255,255,255,0.36);
  color: #fff;
  font-weight: 500;
  text-shadow: 0 -1px rgba(0,0,0,0.36);
}
:host(.cta:active:host),
:host(.cta.is-active:host),
:host(.large.cta:active:host),
:host(.large.cta.is-active:host) {
  background-color: #1976c3;
  -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.12);
  box-shadow: inset 0 1px rgba(0,0,0,0.12);
}
:host(.cta:disabled:host),
:host(.cta.is-disabled:host) {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
/*
Large Call To Action Button
---------------------------

:active - Active state

.is-active - Simulates active state touch interfaces

:disabled - Disabled state

.is-disabled - Simulates disabled state

<a is="topcoat-button" class="large.cta" >Button</a>
<a is="topcoat-button" class="large.cta is-active" >Button</a>
<a is="topcoat-button" class="large.cta is-disabled" >Button</a>
 */
:host(.large.cta:host) {
  font-size: 1.3rem;
  line-height: 4rem;
}
:host(.large-cta:disabled:host),
:host(.large.cta.is-disabled:host) {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
