:host {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  margin: var-margin;
  line-height: 4rem;
  vertical-align: top;
}

:host(.quarter) {
  width: 25%;
}
:host(.half) {
  width: 50%;
}
:host(.three-quarters) {
  width: 75%;
}
:host(.third) {
  width: 33:host(.333%;)
}
:host(.two-thirds) {
  width: 66:host(.666%;)
}
:host(.full) {
  width: 100%;
}

:host(.left) {
  text-align: left;
}
:host(.center) {
  text-align: center;
}
:host(.right) {
  text-align: right;
}
